[Unit]
Description = Backend Service

[Service]
User=expense
Environment=DB_HOST="{{ lookup('aws_ssm', 'expense.backend.DB_HOST', region='us-east-1' ) }}"
ExecStart=/bin/node /app/index.js
SyslogIdentifier=backend

[Install]
WantedBy=multi-user.target