- name: Set Hostname
  ansible.builtin.shell: set-hostname frontend

- name: Install Nginx
  ansible.builtin.dnf:
    name: nginx
    state: present

- name: Copy expense config file
  ansible.builtin.template:
    src: expense.conf
    dest: /etc/nginx/default.d/expense.conf

- name: Update nginx config file
  ansible.builtin.template:
    src: nginx.conf
    dest: /etc/nginx/nginx.conf

- name: Calling app pre requisite
  ansible.builtin.import_role:
    name: common
    tasks_from: app_prereq

- name: Restart Nginx service
  ansible.builtin.systemd:
    name: nginx
    state: restarted
    enabled: yes

- name: Install Filebeat
  ansible.builtin.import_role:
    name: elk
    tasks_from: filebeat

- name: Install Node Exporter
  ansible.builtin.import_role:
    name: prometheus
    tasks_from: node-exporter